<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:0px;">
                                    <img style="float:left" width="600" src="http://pacific-eyrie-6322.herokuapp.com/images/email.jpg">
                                    <table style="position:absolute" border="0" cellpadding="20" cellspacing="0" width="600" id="emailTitle">
                                        <tr>
                                            <td align="center" valign="top">
                                                <h1 style="margin:10px"><font face="verdana" color="#FFFFFF">Danny Carvalho Music</font></h1>
                                                <h3 style="margin:10px"><font face="verdana" color="#FFFFFF">Subscriber Newsletter</font></h3>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-top:0px">
                                    <table style="margin-top:5px" border="0" cellpadding="20" cellspacing="0" width="600" id="emailTitle">
                                        <tr>
                                            <td align="center" valign="top" style="padding-bottom:10px;padding-top:10px;background:#111">
                                                <a href="http://www.dannycarvalho.com" style="margin:10px;text-decoration:none"><font size="4" face="verdana" color="#FFFFFF">Home</font></a>
                                            </td>
                                            <td align="center" valign="top" style="padding-bottom:10px;padding-top:10px;background:#111">
                                                <a href="http://www.dannycarvalho.com/events" style="margin:10px;text-decoration:none"><font size="4" face="verdana" color="#FFFFFF">Gigs</font></a>
                                            </td>
                                            <td align="center" valign="top" style="padding-bottom:10px;padding-top:10px;background:#111">
                                                <a href="http://www.dannycarvalho.com/products" style="margin:10px;text-decoration:none"><font size="4" face="verdana" color="#FFFFFF">Store</font></a>
                                            </td>
                                            <td align="center" valign="top" style="padding-bottom:10px;padding-top:10px;background:#111">
                                                <a href="http://www.dannycarvalho.com/albums" style="margin:10px;text-decoration:none"><font size="4" face="verdana" color="#FFFFFF">Music</font></a>
                                            </td>
                                            <td align="center" valign="top" style="padding-bottom:10px;padding-top:10px;background:#111">
                                                <a href="http://www.dannycarvalho.com/videos" style="margin:10px;text-decoration:none"><font size="4" face="verdana" color="#FFFFFF">Videos</font></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="padding-top:0px;padding-bottom:0px;padding-left:40px;padding-right:40px">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                            <tr>
                                <td align="center" style="background:#000">
                                    <h1><font face="verdana" color="#FFFFFF">Upcoming Gigs!</font></h1>
                                    <p>
                                        <font face="verdana" color="#FFFFFF">
                                            <%= @text.html_safe %>
                                        </font>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="padding-left:40px;padding-right:40px">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                            <tr>
                                <td align="center" valign="top" style="background:#111">
                                    <font face="verdana" size="2" color="#FFFFFF">
                                        Copyright &copy; 2015. Design by <a href="http://www.dannycarvalho.com/" target="_blank">Danny Carvalho</a>
                                        <br>
                                        <%= link_to 'Unsubscribe',  'http://pacific-eyrie-6322.herokuapp.com' + unsubscribe_path + '?subscriber_email=' + @subscriber.email %>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>