<div class="spaces"></div>
<div>
		<h1>Editing User</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
		<br>


		<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/photo.php?fbid=10204100955592905&amp;set=a.1402422589339.2052295.1495566888&amp;type=1" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/photo.php?fbid=10204100955592905&amp;set=a.1402422589339.2052295.1495566888&amp;type=1"><p>&#x201c;Be not afraid of life. Believe that life is worth living, and your belief will help create the fact.&#x201d;&#x2013; William James</p>Posted by <a href="#" role="button">Rashida Khan</a> on&nbsp;<a href="https://www.facebook.com/photo.php?fbid=10204100955592905&amp;set=a.1402422589339.2052295.1495566888&amp;type=1">Sunday, July 19, 2015</a></blockquote></div></div>
</div>
<br>
<br>