// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog-content{
	height: 500px;
	overflow-y:auto;
	overflow-x:hidden;
}

#blog-show-content{
	overflow-x:auto;
}

#tumblr-container{
	.col-md-4{
		float: left;
	}
}